<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TestJson" value="C:\Users\psakhare\source\repos\Tines\Tines\testJson\location.json" />
  </appSettings>
</configuration>